* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  color: white;
  background-color: #0a0a0a;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  padding-left: 160px;
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  padding-right: 160px;
  font-size: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffffff;
}

.hero {
  height: 100vh;
  background: url("images/bg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.30);
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 1;
}

.command {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: -10px;
  font-size: 34px;
}

.hero h1 {
  font-size: 64px;
  font-weight: 700;
}

.hero h2 {
  font-size: 34px;
  font-weight: 500;
  color: #ffffff;
}
